.product-div {
  text-align: center;
  width: 500px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px); 
  background-color: white;
  opacity: 1;
}

.input-tag{
  border: none; /* Remove all default borders */
  border-bottom: 2px solid #77b5f7;
}

.product-title-text {
  font-size: 25px;
  border: none; /* Remove all default borders */
  border-bottom: 2px solid #77b5f7;
  padding-bottom: 20px;
  padding-top: 5px;
  color: rgb(43, 125, 220);
}

.form-group {
  padding-top: 20px;
  color: rgb(43, 125, 220);
}

.product-page {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(224, 232, 245); */
}

.select-tag {
  width: 300px;
  margin-left: 10px;
  margin-right: auto;
  color: rgb(43, 125, 220);
}

.submit-button {
  padding-top: 10px;
}